/****  Homework 2 - CSS        ****/
/****  Autor: NN - for: HYF    ****/
/****  General  web-site style ****/

html, body {
 font-family:arial, sans-serif,'Courier New';
 background-color: #EAEDED;
 margin-top:0; 
 margin-left:1vm; 
 padding:0;
 }

p{
  font-size:  1rem;
  line-height : 1.0rem;
}

header  {
 position:fixed;
 margin-top:0; 
 top:0;
 left: 0; 
 background-color: black;
 width:100%;
 height:5rem;
 color: white;
 text-transform: uppercase;
 border-bottom-left-radius: 1vw;
 border-bottom-right-radius: 1vw;
 }

 h1{
   width:auto;
    -webkit-animation: marquee 10s infinite;
 }
 
main section{
  margin-top:6rem;  
 background-color:#D8D8D8; 
 margin-left:1vw;
 border-radius: 1vw;
 width:98%;
 box-shadow: 6px 6px 6px black;
}

main  h2{
  margin-bottom:0;  
 margin-left:0.5vw;
 padding-top:1rem;  
 width:96% ;
 height:2rem;
 text-align:center;
 text-transform: uppercase;
 text-decoration: underline;
}



/*************************************/
/**** Grid  float and Flex style *****/
/*************************************/
#grid-floats, #grid-flex  {    /****  --> For both grids */
 margin-top:0;
  list-style:none;
  padding: 2rem;
  padding-right:0;
 }

.grid-item {
 float: left;
 margin-top:1%;
 margin-right:3%;
 margin-bottom:1%;
 background-color: white;
 width:22%;
 height: 27rem; 
 border-radius: 1vw;
 overflow: hidden;
 box-shadow: 6px 6px 6px black;
}


/**** This is only for flex ****/
#grid-flex{
   display:flex;
   flex-flow: wrap;
   }
  
#grid-flex > .grid-item {
  float:none;
}

/**** Definition for both grids (float and flex) to PC ****/
 h3 {
 margin-left:3%;
 text-align:center;
  }

 h3::after {
 content:":";
 } 

.grid-item:hover h3 {
   font-size: rem;
   color:   #3D7EAB;
    } 

img {
 width: 83%; 
 margin:auto;
 display:block;
  }

.grid-item:hover img{
  width:87%;
}

 p {
 width: 95%; 
 text-align:justify;
 margin-left:3%;
 }

.grid-item:nth-of-type(1){
 width:47%;
 }

 .grid-item:nth-of-type(1) h3{
 -webkit-animation: roting 10s infinite;
 font-size:1.3rem;
 }
.grid-item:nth-of-type(1) img{
 width:50%;
 transition: width 2s, transform 2s;
  }

.grid-item:nth-of-type(1) img:hover{
    width:30%;
    transform: rotate(360deg);
 }

.grid-item:nth-of-type(1) p{
 line-height : 1.5rem;
 font-size: 1.3rem;
 }

#grid-floats::after {
 content:"";
 display: block;
 clear: both;
}

/*** Media query definition for both grids (float and flex) to  Tablet ***/

@media (min-width: 768px) and (max-width: 1024px) {
main h2{
  margin-right:0.6%;   
}

#grid-floats, #grid-flex  {    
  width:95%;
  padding-left:4%;
  padding-top:4%;
  padding-bottom:4%;
 }

.grid-item {
 width:30%;
 height: 24rem; 
 }

 .grid-item:nth-of-type(-n+2){  
 width:45%;
}

.grid-item:nth-of-type(-n+2) img {
 width:50%;
 transition: width 2s, transform 2s;
}

.grid-item:nth-of-type(-n+2) img:hover {
  width:30%;
  transform: rotate(360deg);  
 }

.grid-item:nth-of-type(2) h3{
 -webkit-animation: roting 10s infinite;
 font-size:1.3rem;
}

#grid-floats> .grid-item:nth-of-type(2){     /****  --> Align second  element in float grid ***/  
 float: right;
 margin-right:4%;
}

#grid-flex> .grid-item:nth-of-type(2){     /****  --> Align second  element in float grid  ***/  
margin-left: 3%;
}
}

/***  Media query definition for both grids (float and flex) to Celphone ***/
@media  (max-width:767px) {
p{
    font-size:  .8rem;
}

 main h2{
  margin-right:0.6%;   
}

#grid-floats, #grid-flex  {      
 width:95%;
 padding-left:4%;
 padding-top:5%;
 padding-bottom:5%;
}

.grid-item {
 width:47%;
 height: 27rem;
}

.grid-item:nth-of-type(1){
 width:97%;
}
}

main::after{
    position:fixed;
    bottom: 0;
    right:0;
    color  :white;
    background-color: red;
    content: "Call:(485)-555 55555 ® HYF";
    border-radius:5px;
}

/*************************************/
/**** @keyframes                 *****/
/*************************************/

@-webkit-keyframes roting{  /*  --> Appling to highlighted */
  0%{
    transform: rotatex(0);
    font-size:1rem;
    color:black;
     }
  50%{
    transform: rotatex(360deg);
    font-size:1.6rem;
    color:red;
   }
   100%{
    transform: rotatex(0);
    font-size:1rem;
    color:black;
   }
}

@-webkit-keyframes marquee{  /*  --> Appling to Header*/
  0%{
      margin-left: 35%;
      }
  50%{
    margin-left: 65%;
   }
   100%{
    margin-left: 35%;
   }
}
